$premierleagueblue: #00235d;

$MUFC: #DA020E; //manchester united 
$THFC: #001C58; //tottenham
$AFCB: #e22239; //bornmouth
$AVFC: #94BEE5; //aston villa
$EFC: #274488; //everton
$Watfordfc: #ffff01; //watford
$LCFC: #FDBE11; //Leicester City
$SUN: #EB172B; //Sunderland
$NCFC: #00a54f; //Norwich City
$CRY: #1B458F; //Crystal Palace
$CFC: #034694; //Chelsea
$SWA: #000000; //Swansea
$NUFC: #231F20; //Newcastle United
$SFC: #ED1A3B; //Southampton
$AFC: #EF0107; //Arsenal
$WHU: #60223B; //West Ham
$SCFC: #E03A3E; //Stoke city
$LFC: #D00027; //Liverpool
$WBA: #091453; //West Brom
$MCFC: #5CBFEB; //Man City